<!-- <section id='body_content'> -->
<div class="container">
<div class="row">
	<%= raw @page.content_for(:side_body) %>
</div>
<% if @page.content_for(:body) %>
	<div class="well page">
	<h1 id="page_title"><%= @page.title %></h1>
	<hr>
	<%= raw @page.content_for(:body) %>
	</div>
<% end %>
</div>
<!-- </section> -->
<!-- <section id='side_body_content'> -->
<!-- </section>
