<%
# Collect the root items.
# ::Refinery::Menu is smart enough to remember all of the items in the original collection.
if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
dom_id ||= 'menu'
css = [(css || 'menu clearfix')].flatten.join(' ')
hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<div id='<%= dom_id %>' class='navbar'>
	<div class='navbar-inner'>
		<div class='container'>
			<ul class="nav">
				<li><%= link_to Refinery::Core.site_name, refinery.root_path, class: "brand" %></li>
				<li class="divider-vertical"></li>
				<%= render :partial => '/refinery/menu_branch', :collection => roots,
				:locals => {
				:hide_children => hide_children,
				:sibling_count => (roots.length - 1),
				:menu_levels => local_assigns[:menu_levels],
				:apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
				} -%>
			</ul>
		</div>
	</div>
</div>
<% end -%>
