<div class="sky">
	<h1 class="pandora">Pandora</h1>
</div>
<div class="row">
	<div class="well span4">
		<h2>Artes Digitais</h2>
		<p>
			Desenvolvimento de artes digitais. Simples ou complexas, grandes,
			pequenas ou vetorizadas, podemos ter a imagem que seu site, divulgação no face ou mesmo
			aquele seu blog chato precisam.
		</p>
		<a class="btn btn-large btn-danger" href="/artes"><em class="icon-file icon-white"></em> Ver alguns exemplos</a>
	</div>
	<div class="well span4">
		<h2>Artes Gráficas</h2>
		<p>
			Banners, flyers, pôsteres, encartes, cartazes e toda essa variada fauna de artes para printáveis.
			Se o seu último evento foi um fiasco acadêmico ou ninguém compareceu a sua última choppada,
			a culpa pode ser desses flyers horrorosos que estão rolando por aí. Deixe a Pandora cuidar disso.
		</p>
		<a class="btn btn-large btn-info" href="/artes"><em class="icon-print icon-white"></em> Checar trabalhos realizados</a>
	</div>
	<div class="well span4">
		<h2>Sites</h2>
		<p>
			Sites (im)pessoais, corporativos, empresariais, blogs, secretos ou espalhafatosos.
			Dê uma moral a sua imagem. Pra ontem.
		</p>
		<a class="btn btn-large btn-primary" href="/desenvolvimento"><em class="icon-list-alt icon-white"></em> Dar uma olhada</a>
	</div>
</div>
<div class="row">
	<div class="well span4">
		<h2>Sistemas</h2>
		<p>
			Se o caso é mais complexo e aquele bando de planilhas excel não está ajudando, a Pandora
			pode construir um sistema sob medida, recheado de funcionalidades que vão direto ao ponto.
		</p>
		<a class="btn btn-large btn-warning" href="/desenvolvimento"><em class="icon-cog icon-white"></em> Saber mais a respeito</a>
	</div>
	<div class="well span4">
		<h2>Sobre</h2>
		<p>
			Porque a Pandora? Porque trabalhamos de forma moderna, com as ferramentas mais
			atualizadas entregamos ao cliente peças de fino trato. Além de estarmos ligados nas últimas
			tendências da internet, nossos funcionários são nerds e se dedicam até seus produtos ficarem perfeitos.
		</p>
		<a class="btn btn-large btn-inverse" href="/contato"><em class="icon-eye-open icon-white"></em> Legal, conte-me mais</a>
	</div>
	<div class="well span4">
		<h2>Contato</h2>
		<p>
			Ligue, envie um email, sms, fax ou sinal de fumaça. Somos legais, não cobramos orçamentos =)
			Atenção: Não realizamos a impressão, apenas enviamos o arquivo em formato digital preparado para a impressão.
		</p>
		<a class="btn btn-large" href="/contato"><em class="icon-envelope"></em> Fazer contato</a>
	</div>
</div>