<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<body>
	<%= site_bar -%>
	<%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<!--  <div id="page_container"> -->
<!--	<header id="header">-->
		<%= render '/refinery/header' -%>
	<!--</header>-->
		<!--<section id="page">-->
			<%= yield %>
		<!--</section>-->
		<hr>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
	<%= render '/refinery/javascripts' %>
</body>
</html>
